.container{
    width: fit-content;

    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container div{
    border: 10px green solid;
}
.image{
    width: 300px;
    height: 300px;
    border: 40px navy solid;
}
.text{
    font-size: 1.5em;
    width: fit-content;
    padding: 5px 20px;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:white;
}
@media (max-width: 600px) {
    .image{
        width: unset;
        height: 20vh;
        border: unset;
    }
    .container{
        gap:5px;
        
    }
    .text{
        font-size: medium;
    }
}